.introduction__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50%;
}

.introduction__title {
    color: #84A4F5;
    font-size: 2em;
}

.introduction__items {
    gap: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}