.skills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50%;
}

.skills__title {
    font-size: 2em;
    color: #84A4F5;
}

.skill__text {
    text-align: center;
    padding-right: 20px;
}
